In [1]:
 ## importar as funções que iremos precisar
from pyspark.sql import SparkSession
from pyspark.sql.types import *

In [5]:
spark.sql("SHOW DATABASES").show()

+---------+
|namespace|
+---------+
|  default|
|     desp|
+---------+

In [6]:
spark.sql("create database desp2")

24/10/15 14:17:47 WARN ObjectStore: Failed to get database desp2, returning NoSuchObjectException
24/10/15 14:17:47 WARN ObjectStore: Failed to get database desp2, returning NoSuchObjectException
24/10/15 14:17:47 WARN ObjectStore: Failed to get database global_temp, returning NoSuchObjectException
24/10/15 14:17:47 WARN ObjectStore: Failed to get database desp2, returning NoSuchObjectException

DataFrame[]

In [7]:
spark.sql("show databases").show()

+---------+
|namespace|
+---------+
|  default|
|     desp|
|    desp2|
+---------+

In [8]:
spark.sql("use desp").show()

++
||
++
++

In [9]:
arqschema = 'ID INT, Nome STRING, Status STRING, Cidade STRING, Vendas INT, Data STRING'
despachantes = spark.read.csv('/home/anthony/pyspark/Arquivos adicionais/despachantes.csv', header=False, schema = arqschema)

In [10]:
despachantes.show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [12]:
despachantes.write.saveAsTable("Despachantes2")

24/10/15 14:18:07 WARN SessionState: METASTORE_FILTER_HOOK will be ignored, since hive.security.authorization.manager is set to instance of HiveAuthorizerFactory.
24/10/15 14:18:07 WARN HiveConf: HiveConf of name hive.internal.ss.authz.settings.applied.marker does not exist
24/10/15 14:18:07 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/10/15 14:18:07 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist

In [13]:
spark.sql("select * from Despachantes2").show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [14]:
spark.sql("show tables").show()

+---------+-------------+-----------+
|namespace|    tableName|isTemporary|
+---------+-------------+-----------+
|     desp| despachantes|      false|
|     desp|despachantes2|      false|
+---------+-------------+-----------+

In [23]:
spark.sql("use default").show()

++
||
++
++

In [24]:
# Vai dar erro pq n tem a default
spark.sql("SELECT * FROM despachantes").show()

AnalysisException: [TABLE_OR_VIEW_NOT_FOUND] The table or view `despachantes` cannot be found. Verify the spelling and correctness of the schema and catalog.
If you did not qualify the name with a schema, verify the current_schema() output, or qualify the name with the correct schema and catalog.
To tolerate the error on drop use DROP VIEW IF EXISTS or DROP TABLE IF EXISTS.; line 1 pos 14;
'Project [*]
+- 'UnresolvedRelation [despachantes], [], false

In [25]:
spark.sql("use desp").show()

++
||
++
++

In [26]:
spark.sql("select * from despachantes").show()

+---+----+------+------+------+----+
| ID|Nome|Status|Cidade|Vendas|Data|
+---+----+------+------+------+----+
+---+----+------+------+------+----+

In [27]:
## recriando a tabela com overwrite

despachantes.write.mode("overwrite").saveAsTable("Despachantes")

In [28]:
spark.sql("use desp").show()
spark.sql("select * from despachantes").show()

++
||
++
++

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [31]:
despachantes = spark.sql("Select * from despachantes")
despachantes.show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [33]:
despachantes.write.format("parquet").save("/home/anthony/pyspark/desparquet")

In [41]:
despachantes.write.option("path","/home/anthony/pyspark/desparquet").saveAsTable("Desp_ng")

In [93]:
Despachantes = spark.sql("Select * from Desp_ng").show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [45]:
spark.sql("show create table Despachantes").show(truncate=False) #truncate faz com que não reduza o resultado

+-------------------------------------------------------------------------------------------------------------------------------------------------------------+
|createtab_stmt                                                                                                                                               |
+-------------------------------------------------------------------------------------------------------------------------------------------------------------+
|CREATE TABLE spark_catalog.desp.Despachantes (\n  ID INT,\n  Nome STRING,\n  Status STRING,\n  Cidade STRING,\n  Vendas INT,\n  Data STRING)\nUSING parquet\n|
+-------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [46]:
spark.sql("show create table Desp_ng").show(truncate=False) #truncate faz com que não reduza o resultado

+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|createtab_stmt                                                                                                                                                                                            |
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+
|CREATE TABLE spark_catalog.desp.Desp_ng (\n  ID INT,\n  Nome STRING,\n  Status STRING,\n  Cidade STRING,\n  Vendas INT,\n  Data STRING)\nUSING parquet\nLOCATION 'file:/home/anthony/pyspark/desparquet'\n|
+----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------+

In [48]:
spark.catalog.listTables()

[Table(name='desp_ng', catalog='spark_catalog', namespace=['desp'], description=None, tableType='EXTERNAL', isTemporary=False),
 Table(name='despachantes', catalog='spark_catalog', namespace=['desp'], description=None, tableType='MANAGED', isTemporary=False),
 Table(name='despachantes2', catalog='spark_catalog', namespace=['desp'], description=None, tableType='MANAGED', isTemporary=False)]

In [63]:
despachantes.createOrReplaceTempView('Despachantes_view1')

In [61]:
despachantes = spark.read.format("csv").load("/home/anthony/pyspark/Arquivos adicionais/despachantes.csv")
print(despachantes)

DataFrame[_c0: string, _c1: string, _c2: string, _c3: string, _c4: string, _c5: string]

In [64]:
spark.sql("select * from Despachantes_view1").show()

+---+-------------------+-----+-------------+---+----------+
|_c0|                _c1|  _c2|          _c3|_c4|       _c5|
+---+-------------------+-----+-------------+---+----------+
|  1|   Carminda Pestana|Ativo|  Santa Maria| 23|2020-08-11|
|  2|    Deolinda Vilela|Ativo|Novo Hamburgo| 34|2020-03-05|
|  3|   Emídio Dornelles|Ativo| Porto Alegre| 34|2020-02-05|
|  4|Felisbela Dornelles|Ativo| Porto Alegre| 36|2020-02-05|
|  5|     Graça Ornellas|Ativo| Porto Alegre| 12|2020-02-05|
|  6|   Matilde Rebouças|Ativo| Porto Alegre| 22|2019-01-05|
|  7|    Noêmia   Orriça|Ativo|  Santa Maria| 45|2019-10-05|
|  8|      Roque Vásquez|Ativo| Porto Alegre| 65|2020-03-05|
|  9|      Uriel Queiroz|Ativo| Porto Alegre| 54|2018-05-05|
| 10|   Viviana Sequeira|Ativo| Porto Alegre|  0|2020-09-05|
+---+-------------------+-----+-------------+---+----------+

In [65]:
despachantes.createOrReplaceGlobalTempView('Despachantes_view2')

In [67]:
spark.sql("select * from global_temp.Despachantes_view2").show()

+---+-------------------+-----+-------------+---+----------+
|_c0|                _c1|  _c2|          _c3|_c4|       _c5|
+---+-------------------+-----+-------------+---+----------+
|  1|   Carminda Pestana|Ativo|  Santa Maria| 23|2020-08-11|
|  2|    Deolinda Vilela|Ativo|Novo Hamburgo| 34|2020-03-05|
|  3|   Emídio Dornelles|Ativo| Porto Alegre| 34|2020-02-05|
|  4|Felisbela Dornelles|Ativo| Porto Alegre| 36|2020-02-05|
|  5|     Graça Ornellas|Ativo| Porto Alegre| 12|2020-02-05|
|  6|   Matilde Rebouças|Ativo| Porto Alegre| 22|2019-01-05|
|  7|    Noêmia   Orriça|Ativo|  Santa Maria| 45|2019-10-05|
|  8|      Roque Vásquez|Ativo| Porto Alegre| 65|2020-03-05|
|  9|      Uriel Queiroz|Ativo| Porto Alegre| 54|2018-05-05|
| 10|   Viviana Sequeira|Ativo| Porto Alegre|  0|2020-09-05|
+---+-------------------+-----+-------------+---+----------+

In [68]:
spark.sql("CREATE OR REPLACE TEMP VIEW DESP_VIEW AS select * from despachantes")

DataFrame[]

In [69]:
spark.sql('select * from DESP_VIEW').show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [70]:
spark.sql("CREATE OR REPLACE GLOBAL TEMP VIEW DESP_VIEW2 AS select * from despachantes")

DataFrame[]

In [71]:
spark.sql('select * from global_temp.DESP_VIEW2').show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [75]:
spark.sql("DROP VIEW IF EXISTS global_temp.DESPVIEW2")

DataFrame[]

In [76]:
spark.sql('select * from global_temp.DESP_VIEW2').show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [79]:
try:
    spark.sql("DROP VIEW IF EXISTS global_temp.DESPVIEW2")
    print("Global temporary view DESPVIEW2 dropped successfully.")
except Exception as e:
    print(f"An error occurred while dropping the view: {e}")

Global temporary view DESPVIEW2 dropped successfully.

In [104]:
despachantes = spark.sql('select * from global_temp.DESP_VIEW2') # correção do schema

In [105]:
from pyspark.sql import functions as Func
from pyspark.sql.functions import *

In [106]:
spark.sql("select * from Despachantes").show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [107]:
despachantes.show() # equivalente ao de cima

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   Emídio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     Graça Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde Rebouças| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    Noêmia   Orriça| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque Vásquez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [108]:
spark.sql("select Nome, Vendas from Despachantes").show()

+-------------------+------+
|               Nome|Vendas|
+-------------------+------+
|   Carminda Pestana|    23|
|    Deolinda Vilela|    34|
|   Emídio Dornelles|    34|
|Felisbela Dornelles|    36|
|     Graça Ornellas|    12|
|   Matilde Rebouças|    22|
|    Noêmia   Orriça|    45|
|      Roque Vásquez|    65|
|      Uriel Queiroz|    54|
|   Viviana Sequeira|     0|
+-------------------+------+

In [109]:
despachantes.select("Nome","Vendas").show()

+-------------------+------+
|               Nome|Vendas|
+-------------------+------+
|   Carminda Pestana|    23|
|    Deolinda Vilela|    34|
|   Emídio Dornelles|    34|
|Felisbela Dornelles|    36|
|     Graça Ornellas|    12|
|   Matilde Rebouças|    22|
|    Noêmia   Orriça|    45|
|      Roque Vásquez|    65|
|      Uriel Queiroz|    54|
|   Viviana Sequeira|     0|
+-------------------+------+

In [112]:
spark.sql("select Nome, Vendas from Despachantes where vendas > 40").show()

+---------------+------+
|           Nome|Vendas|
+---------------+------+
|Noêmia   Orriça|    45|
|  Roque Vásquez|    65|
|  Uriel Queiroz|    54|
+---------------+------+

In [114]:
despachantes.select("Nome","Vendas").where(Func.col("Vendas") > 40).show()

+---------------+------+
|           Nome|Vendas|
+---------------+------+
|Noêmia   Orriça|    45|
|  Roque Vásquez|    65|
|  Uriel Queiroz|    54|
+---------------+------+

In [117]:
spark.sql("""
    SELECT Cidade, SUM(Vendas) AS Total_Vendas
    FROM Despachantes
    GROUP BY Cidade
    ORDER BY Total_Vendas DESC
        """).show()

+-------------+------------+
|       Cidade|Total_Vendas|
+-------------+------------+
| Porto Alegre|         223|
|  Santa Maria|          68|
|Novo Hamburgo|          34|
+-------------+------------+

In [118]:
spark.sql("""
    SELECT Cidade, SUM(Vendas) AS Total_Vendas
    FROM Despachantes
    GROUP BY Cidade
    ORDER BY Total_Vendas
        """).show()

+-------------+------------+
|       Cidade|Total_Vendas|
+-------------+------------+
|Novo Hamburgo|          34|
|  Santa Maria|          68|
| Porto Alegre|         223|
+-------------+------------+

In [126]:
despachantes.groupby("Cidade") \
            .agg(Func.sum("Vendas").alias("Total_Vendas")) \
            .orderBy(Func.col("Total_Vendas").desc()) \
            .show()

+-------------+------------+
|       Cidade|Total_Vendas|
+-------------+------------+
| Porto Alegre|         223|
|  Santa Maria|          68|
|Novo Hamburgo|          34|
+-------------+------------+

In [128]:
despachantes.groupby("Cidade") \
            .agg(Func.sum("Vendas").alias("Total_Vendas")) \
            .orderBy(Func.col("Total_Vendas"))\
            .show()

+-------------+------------+
|       Cidade|Total_Vendas|
+-------------+------------+
|Novo Hamburgo|          34|
|  Santa Maria|          68|
| Porto Alegre|         223|
+-------------+------------+