In [129]:
recschema = "idrec INT, datarec STRING, iddesp INT"

In [130]:
reclamacoes = spark.read.csv("/home/anthony/pyspark/Arquivos adicionais/reclamacoes.csv", header=False, schema= recschema)

In [131]:
reclamacoes.show()

+-----+----------+------+
|idrec|   datarec|iddesp|
+-----+----------+------+
|    1|2020-09-12|     2|
|    2|2020-09-11|     2|
|    3|2020-10-05|     4|
|    4|2020-10-02|     5|
|    5|2020-12-06|     5|
|    6|2020-01-09|     5|
|    7|2020-01-05|     9|
+-----+----------+------+

In [132]:
reclamacoes.write.saveAsTable("reclamacoes")

In [137]:
spark.sql("select reclamacoes.*, despachantes.nome from despachantes inner join reclamacoes on (despachantes.id = reclamacoes.iddesp)").show()
# faz a junção e tras apenas o que tem algum dado

+-----+----------+------+-------------------+
|idrec|   datarec|iddesp|               nome|
+-----+----------+------+-------------------+
|    1|2020-09-12|     2|    Deolinda Vilela|
|    2|2020-09-11|     2|    Deolinda Vilela|
|    3|2020-10-05|     4|Felisbela Dornelles|
|    4|2020-10-02|     5|     Graça Ornellas|
|    5|2020-12-06|     5|     Graça Ornellas|
|    6|2020-01-09|     5|     Graça Ornellas|
|    7|2020-01-05|     9|      Uriel Queiroz|
+-----+----------+------+-------------------+

In [135]:
spark.sql("select reclamacoes.*, despachantes.nome from despachantes right join reclamacoes on (despachantes.id = reclamacoes.iddesp)").show()
# tras apenas o que tem algum dado

+-----+----------+------+-------------------+
|idrec|   datarec|iddesp|               nome|
+-----+----------+------+-------------------+
|    1|2020-09-12|     2|    Deolinda Vilela|
|    2|2020-09-11|     2|    Deolinda Vilela|
|    3|2020-10-05|     4|Felisbela Dornelles|
|    4|2020-10-02|     5|     Graça Ornellas|
|    5|2020-12-06|     5|     Graça Ornellas|
|    6|2020-01-09|     5|     Graça Ornellas|
|    7|2020-01-05|     9|      Uriel Queiroz|
+-----+----------+------+-------------------+

In [136]:
spark.sql("select reclamacoes.*, despachantes.nome from despachantes left join reclamacoes on (despachantes.id = reclamacoes.iddesp)").show()
# tras todos os que tem algum dado e os que não

+-----+----------+------+-------------------+
|idrec|   datarec|iddesp|               nome|
+-----+----------+------+-------------------+
| NULL|      NULL|  NULL|   Carminda Pestana|
|    2|2020-09-11|     2|    Deolinda Vilela|
|    1|2020-09-12|     2|    Deolinda Vilela|
| NULL|      NULL|  NULL|   Emídio Dornelles|
|    3|2020-10-05|     4|Felisbela Dornelles|
|    6|2020-01-09|     5|     Graça Ornellas|
|    5|2020-12-06|     5|     Graça Ornellas|
|    4|2020-10-02|     5|     Graça Ornellas|
| NULL|      NULL|  NULL|   Matilde Rebouças|
| NULL|      NULL|  NULL|    Noêmia   Orriça|
| NULL|      NULL|  NULL|      Roque Vásquez|
|    7|2020-01-05|     9|      Uriel Queiroz|
| NULL|      NULL|  NULL|   Viviana Sequeira|
+-----+----------+------+-------------------+

In [1]:
despachantes.join(reclamacoes, despachantes["ID"] == reclamacoes["iddesp"], "inner")\
            .select("idrec", "datarec", "iddesp", "Nome")\
            .show()
# Join Inner só que com spark direto sem sql

NameError: name 'despachantes' is not defined

In [155]:
despachantes.join(reclamacoes, despachantes["ID"] == reclamacoes["iddesp"], "right")\
            .select("idrec", "datarec", "iddesp", "Nome")\
            .show()
# Join right só que com spark direto sem sql

+-----+----------+------+-------------------+
|idrec|   datarec|iddesp|               Nome|
+-----+----------+------+-------------------+
|    1|2020-09-12|     2|    Deolinda Vilela|
|    2|2020-09-11|     2|    Deolinda Vilela|
|    3|2020-10-05|     4|Felisbela Dornelles|
|    4|2020-10-02|     5|     Graça Ornellas|
|    5|2020-12-06|     5|     Graça Ornellas|
|    6|2020-01-09|     5|     Graça Ornellas|
|    7|2020-01-05|     9|      Uriel Queiroz|
+-----+----------+------+-------------------+

In [157]:
despachantes.join(reclamacoes, despachantes["ID"] == reclamacoes["iddesp"], "left")\
            .select("idrec", "datarec", "iddesp", "Nome")\
            .show()
# Join left só que com spark direto sem sql

+-----+----------+------+-------------------+
|idrec|   datarec|iddesp|               Nome|
+-----+----------+------+-------------------+
| NULL|      NULL|  NULL|   Carminda Pestana|
|    2|2020-09-11|     2|    Deolinda Vilela|
|    1|2020-09-12|     2|    Deolinda Vilela|
| NULL|      NULL|  NULL|   Emídio Dornelles|
|    3|2020-10-05|     4|Felisbela Dornelles|
|    6|2020-01-09|     5|     Graça Ornellas|
|    5|2020-12-06|     5|     Graça Ornellas|
|    4|2020-10-02|     5|     Graça Ornellas|
| NULL|      NULL|  NULL|   Matilde Rebouças|
| NULL|      NULL|  NULL|    Noêmia   Orriça|
| NULL|      NULL|  NULL|      Roque Vásquez|
|    7|2020-01-05|     9|      Uriel Queiroz|
| NULL|      NULL|  NULL|   Viviana Sequeira|
+-----+----------+------+-------------------+

In [159]:
# Realizando um left join
resultados = despachantes.join(reclamacoes, despachantes["ID"] == reclamacoes["iddesp"], "left") \
    .select("idrec", "datarec", "iddesp", "Nome")

# Filtrando para mostrar apenas os registros com nulls
resultados.filter(
    Func.col("idrec").isNull() | 
    Func.col("datarec").isNull() | 
    Func.col("iddesp").isNull() | 
    Func.col("Nome").isNull()
).show()

+-----+-------+------+----------------+
|idrec|datarec|iddesp|            Nome|
+-----+-------+------+----------------+
| NULL|   NULL|  NULL|Carminda Pestana|
| NULL|   NULL|  NULL|Emídio Dornelles|
| NULL|   NULL|  NULL|Matilde Rebouças|
| NULL|   NULL|  NULL| Noêmia   Orriça|
| NULL|   NULL|  NULL|   Roque Vásquez|
| NULL|   NULL|  NULL|Viviana Sequeira|
+-----+-------+------+----------------+

In [164]:
# também é possível interagir com as tabelas utilizando o sql puro
spark-sql #no terminal

# Terminal exemplo
"""

anthony@anthony-VirtualBox:~$ spark-sql
24/11/04 15:34:40 WARN Utils: Your hostname, anthony-VirtualBox resolves to a loopback address: 127.0.1.1; using 10.0.2.15 instead (on interface enp0s3)
24/11/04 15:34:40 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
24/11/04 15:34:41 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
24/11/04 15:34:43 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.
24/11/04 15:34:43 WARN Utils: Service 'SparkUI' could not bind on port 4041. Attempting port 4042.
24/11/04 15:34:43 WARN Utils: Service 'SparkUI' could not bind on port 4042. Attempting port 4043.
24/11/04 15:34:43 WARN Utils: Service 'SparkUI' could not bind on port 4043. Attempting port 4044.
24/11/04 15:34:43 WARN Utils: Service 'SparkUI' could not bind on port 4044. Attempting port 4045.
24/11/04 15:34:44 WARN HiveConf: HiveConf of name hive.stats.jdbc.timeout does not exist
24/11/04 15:34:44 WARN HiveConf: HiveConf of name hive.stats.retries.wait does not exist
24/11/04 15:34:47 WARN ObjectStore: Version information not found in metastore. hive.metastore.schema.verification is not enabled so recording the schema version 2.3.0
24/11/04 15:34:47 WARN ObjectStore: setMetaStoreSchemaVersion called but recording version is disabled: version = 2.3.0, comment = Set by MetaStore anthony@127.0.1.1
Spark Web UI available at http://10.0.2.15:4045
Spark master: local[*], Application Id: local-1730745283218

spark-sql (default)> show databases;
default
Time taken: 1.533 seconds, Fetched 1 row(s)
spark-sql (default)> 24/11/04 15:34:55 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

show databases;
default
Time taken: 0.093 seconds, Fetched 1 row(s)
spark-sql (default)> 

"""

SyntaxError: incomplete input (3501554614.py, line 4)

In [2]:
###utilizando o show databases;
spark-sql (default)> show databases;
default
Time taken: 1.533 seconds, Fetched 1 row(s)
spark-sql (default)> 24/11/04 15:34:55 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

show databases;
default
Time taken: 0.093 seconds, Fetched 1 row(s)
spark-sql (default)>

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (443073397.py, line 5)