In [1]:
from pyspark.sql import SparkSession

In [3]:
    # Criando o primeiro dataframe
df1 = spark.createDataFrame([("Pedro", 10),("Maria", 20),("Jose", 40)])
    # cada par de valor um nome e uma idade
df1.show()

+-----+---+
|   _1| _2|
+-----+---+
|Pedro| 10|
|Maria| 20|
| Jose| 40|
+-----+---+

In [4]:
schema="ID int, Nome STRING"
    # Definindo os esquemas

In [5]:
dados = [[1,"Pedro"],[2,"Maria"]]
    # Colocando os dados do dataframe

In [7]:
df2 = spark.createDataFrame(dados, schema)
df2.show()
    # Agora a coluna tem nome nÃ£o numero aleatorio.

+---+-----+
| ID| Nome|
+---+-----+
|  1|Pedro|
|  2|Maria|
+---+-----+

In [8]:
df2.show(1)

+---+-----+
| ID| Nome|
+---+-----+
|  1|Pedro|
+---+-----+
only showing top 1 row

In [9]:
from pyspark.sql.functions import sum

In [16]:
    # Criando o primeiro esquema
schema2 = "Produtos STRING, Vendas INT"

In [17]:
    # criando os nome / quantidade de vendas dos produtos
vendas = [["Caneta", 10],["Lapis",20],["Caneta", 40]]

In [18]:
    # Adicionando o schema e vendas em um data frame
df3 = spark.createDataFrame(vendas, schema2)
df3.show()

+--------+------+
|Produtos|Vendas|
+--------+------+
|  Caneta|    10|
|   Lapis|    20|
|  Caneta|    40|
+--------+------+

In [19]:
    # Criando um dataframe para agrupar as vendas com o mesmo nome de Produto
agrupado = df3.groupBy("Produtos").agg(sum("Vendas"))

In [20]:
agrupado.show()

+--------+-----------+
|Produtos|sum(Vendas)|
+--------+-----------+
|  Caneta|         50|
|   Lapis|         20|
+--------+-----------+

In [21]:
agrupado = df3.groupBy("Produtos").agg(sum("Vendas")).show()

+--------+-----------+
|Produtos|sum(Vendas)|
+--------+-----------+
|  Caneta|         50|
|   Lapis|         20|
+--------+-----------+

In [22]:
    # visualizar apenas a coluna produtos
df3.select("Produtos").show()

+--------+
|Produtos|
+--------+
|  Caneta|
|   Lapis|
|  Caneta|
+--------+

In [23]:
from pyspark.sql.functions import expr

In [ ]:
df3.select("Produtos",)