In [1]:
from pyspark.sql import SparkSession

In [2]:
    # Criando o primeiro dataframe
df1 = spark.createDataFrame([("Pedro", 10, "Brasileiro"),("Maria", 20, "Noruegues"),("Jose", 40, "Japones")])
    # cada par de valor um nome e uma idade
df1.show()

+-----+---+----------+
|   _1| _2|        _3|
+-----+---+----------+
|Pedro| 10|Brasileiro|
|Maria| 20| Noruegues|
| Jose| 40|   Japones|
+-----+---+----------+

In [3]:
schema="ID int, Nome STRING, Nacionalidade STRING"
    # Definindo os esquemas

In [4]:
dados = [[1,"Pedro", "Brasileiro"],[2,"Maria", "Noruegues"], [3,"Jose", "Japones"]]
    # Colocando os dados do dataframe

In [5]:
df2 = spark.createDataFrame(dados, schema)
df2.show()
    # Agora a coluna tem nome e nÃ£o um numero aleatorio.

+---+-----+-------------+
| ID| Nome|Nacionalidade|
+---+-----+-------------+
|  1|Pedro|   Brasileiro|
|  2|Maria|    Noruegues|
|  3| Jose|      Japones|
+---+-----+-------------+

In [6]:
df2.show(2)
# Mostrando 2 itens

+---+-----+-------------+
| ID| Nome|Nacionalidade|
+---+-----+-------------+
|  1|Pedro|   Brasileiro|
|  2|Maria|    Noruegues|
+---+-----+-------------+
only showing top 2 rows

In [7]:
from pyspark.sql.functions import sum

In [8]:
    # Criando o novo esquema
schema2 = "Produtos STRING, Vendas INT, Valor FLOAT"

In [9]:
    # criando os nome / quantidade de vendas dos produtos
vendas = [["Caneta", 10, 29.99],["Lapis",20, 3.22],["Caneta", 40, 5.9],["Lapis",20, 3.22],["Caneta", 40, 5.9]]

In [10]:
    # Adicionando o schema e vendas em um data frame
df3 = spark.createDataFrame(vendas, schema2)
df3.show()

+--------+------+-----+
|Produtos|Vendas|Valor|
+--------+------+-----+
|  Caneta|    10|29.99|
|   Lapis|    20| 3.22|
|  Caneta|    40|  5.9|
|   Lapis|    20| 3.22|
|  Caneta|    40|  5.9|
+--------+------+-----+

In [11]:
    # Criando um dataframe para agrupar as vendas com o mesmo nome de Produto
agrupado = df3.groupBy("Produtos").agg(sum("Valor"))

In [12]:
agrupado.show()

+--------+-----------------+
|Produtos|       sum(Valor)|
+--------+-----------------+
|  Caneta|41.78999996185303|
|   Lapis|6.440000057220459|
+--------+-----------------+

In [13]:
agrupado = df3.groupBy("Produtos").agg(sum("Valor")).show()

+--------+-----------------+
|Produtos|       sum(Valor)|
+--------+-----------------+
|  Caneta|41.78999996185303|
|   Lapis|6.440000057220459|
+--------+-----------------+

In [14]:
    # visualizar apenas a coluna produtos
df3.select("Produtos").show()

+--------+
|Produtos|
+--------+
|  Caneta|
|   Lapis|
|  Caneta|
|   Lapis|
|  Caneta|
+--------+

In [15]:
df3.orderBy("Valor").select("Valor").show()

+-----+
|Valor|
+-----+
| 3.22|
| 3.22|
|  5.9|
|  5.9|
|29.99|
+-----+

In [16]:
from pyspark.sql.functions import expr

In [17]:
df3.select("Produtos",).show()

+--------+
|Produtos|
+--------+
|  Caneta|
|   Lapis|
|  Caneta|
|   Lapis|
|  Caneta|
+--------+

In [18]:
df3.printSchema()
df3.schema

root
 |-- Produtos: string (nullable = true)
 |-- Vendas: integer (nullable = true)
 |-- Valor: float (nullable = true)

StructType([StructField('Produtos', StringType(), True), StructField('Vendas', IntegerType(), True), StructField('Valor', FloatType(), True)])

In [19]:
df1.printSchema()
df1.schema

root
 |-- _1: string (nullable = true)
 |-- _2: long (nullable = true)
 |-- _3: string (nullable = true)

StructType([StructField('_1', StringType(), True), StructField('_2', LongType(), True), StructField('_3', StringType(), True)])

In [40]:
df2.printSchema()
df2.schema

root
 |-- ID: integer (nullable = true)
 |-- Nome: string (nullable = true)
 |-- Nacionalidade: string (nullable = true)

StructType([StructField('ID', IntegerType(), True), StructField('Nome', StringType(), True), StructField('Nacionalidade', StringType(), True)])

In [21]:
df3.columns

['Produtos', 'Vendas', 'Valor']

In [38]:
    # ManipulaÃ§Ã£o de DF
from pyspark.sql.types import*
from pyspark.sql import*

In [23]:
arqschema = 'ID INT, Nome STRING, Status STRING, Cidade STRING, Vendas INT, Data STRING'

In [41]:
despachantes = spark.read.csv('/home/anthony/pyspark/Arquivos adicionais/despachantes.csv', header=False, schema = arqschema)

In [44]:
    # Nomeia a coluna e os tipos de dados automaticamente
desp_autoschema = spark.read.load('/home/anthony/pyspark/Arquivos adicionais/despachantes.csv', header=False, format='csv', sep=",", inferschema = True)

In [48]:
despachantes.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Nome: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Cidade: string (nullable = true)
 |-- Vendas: integer (nullable = true)
 |-- Data: string (nullable = true)

In [47]:
desp_autoschema.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: integer (nullable = true)
 |-- _c5: date (nullable = true)

In [49]:
    # Filtrando os dados
from pyspark.sql import functions as Func
from pyspark.sql.functions import *

In [50]:
    # DF cuja qt de vendas seja > 20
despachantes.select('ID', 'Nome', 'Vendas').where(Func.col('Vendas')>20).show()

+---+-------------------+------+
| ID|               Nome|Vendas|
+---+-------------------+------+
|  1|   Carminda Pestana|    23|
|  2|    Deolinda Vilela|    34|
|  3|   EmÃ­dio Dornelles|    34|
|  4|Felisbela Dornelles|    36|
|  6|   Matilde RebouÃ§as|    22|
|  7|    NoÃªmia   OrriÃ§a|    45|
|  8|      Roque VÃ¡squez|    65|
|  9|      Uriel Queiroz|    54|
+---+-------------------+------+

In [51]:
    # DF cuja vendas seja > 20 e < 40
    # & | - (e ou not)
despachantes.select('ID', 'Nome', 'Vendas').where((Func.col('Vendas')>20) & (Func.col("Vendas") <40)).show()

+---+-------------------+------+
| ID|               Nome|Vendas|
+---+-------------------+------+
|  1|   Carminda Pestana|    23|
|  2|    Deolinda Vilela|    34|
|  3|   EmÃ­dio Dornelles|    34|
|  4|Felisbela Dornelles|    36|
|  6|   Matilde RebouÃ§as|    22|
+---+-------------------+------+

In [52]:
    # exemplo com ou
despachantes.select('ID', 'Nome', 'Vendas').where((Func.col('Vendas')==54) | (Func.col("Vendas") < 20)).show()

+---+----------------+------+
| ID|            Nome|Vendas|
+---+----------------+------+
|  5|  GraÃ§a Ornellas|    12|
|  9|   Uriel Queiroz|    54|
| 10|Viviana Sequeira|     0|
+---+----------------+------+

In [84]:
    # renomear colunas de um DF
novodf = despachantes.withColumnRenamed("Nome", "Nomes")
novodf.columns

['ID', 'Nomes', 'Status', 'Cidade', 'Vendas', 'Data']

In [86]:
    # mudando o tipo da coluna data para timestamp
despachantes2 = despachantes.withColumn("data2", to_timestamp(Func.col("Data"),"yyyy-MM-d"))
despachantes2.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Nome: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Cidade: string (nullable = true)
 |-- Vendas: integer (nullable = true)
 |-- Data: string (nullable = true)
 |-- data2: timestamp (nullable = true)

In [58]:
    # Selecionando somente pelo ano de Data
despachantes2.select(year("Data")).show()

+----------+
|year(Data)|
+----------+
|      2020|
|      2020|
|      2020|
|      2020|
|      2020|
|      2019|
|      2019|
|      2020|
|      2018|
|      2020|
+----------+

In [56]:
    # Selecionando somente pelo ano de Data apenas com os anos nÃ£o repetidos
despachantes2.select(year("Data")).distinct().show()

+----------+
|year(Data)|
+----------+
|      2018|
|      2019|
|      2020|
+----------+

In [61]:
    # Selecionando a coluna data pelo ano e ordenando nome tudo pelo Nome (a-z)
    # Sempre Ã© ordenado do menor para o maior
despachantes2.select("Nome",year("Data")).orderBy("Nome").show()

+-------------------+----------+
|               Nome|year(Data)|
+-------------------+----------+
|   Carminda Pestana|      2020|
|    Deolinda Vilela|      2020|
|   EmÃ­dio Dornelles|      2020|
|Felisbela Dornelles|      2020|
|     GraÃ§a Ornellas|      2020|
|   Matilde RebouÃ§as|      2019|
|    NoÃªmia   OrriÃ§a|      2019|
|      Roque VÃ¡squez|      2020|
|      Uriel Queiroz|      2018|
|   Viviana Sequeira|      2020|
+-------------------+----------+

In [69]:
    # Selecionando a coluna data e agrupando elas por ano fazendo a contagem dos anos
despachantes2.select("Data").groupBy(year("Data")).count().show()

+----------+-----+
|year(Data)|count|
+----------+-----+
|      2018|    1|
|      2019|    2|
|      2020|    7|
+----------+-----+

In [53]:
    # Soma das vendas
despachantes2.select(Func.sum("Vendas")).show()

+-----------+
|sum(Vendas)|
+-----------+
|        325|
+-----------+

In [87]:
despachantes2.printSchema() # dados tabulados

root
 |-- ID: integer (nullable = true)
 |-- Nome: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Cidade: string (nullable = true)
 |-- Vendas: integer (nullable = true)
 |-- Data: string (nullable = true)
 |-- data2: timestamp (nullable = true)

In [76]:
despachantes.take(5) # formato em linha

[Row(ID=1, Nome='Carminda Pestana', Status='Ativo', Cidade='Santa Maria', Vendas=23, Data='2020-08-11'),
 Row(ID=2, Nome='Deolinda Vilela', Status='Ativo', Cidade='Novo Hamburgo', Vendas=34, Data='2020-03-05'),
 Row(ID=3, Nome='EmÃ­dio Dornelles', Status='Ativo', Cidade='Porto Alegre', Vendas=34, Data='2020-02-05'),
 Row(ID=4, Nome='Felisbela Dornelles', Status='Ativo', Cidade='Porto Alegre', Vendas=36, Data='2020-02-05'),
 Row(ID=5, Nome='GraÃ§a Ornellas', Status='Ativo', Cidade='Porto Alegre', Vendas=12, Data='2020-02-05')]

In [56]:
despachantes.collect() # Todos os dados em forma de lista

[Row(ID=1, Nome='Carminda Pestana', Status='Ativo', Cidade='Santa Maria', Vendas=23, Data='2020-08-11'),
 Row(ID=2, Nome='Deolinda Vilela', Status='Ativo', Cidade='Novo Hamburgo', Vendas=34, Data='2020-03-05'),
 Row(ID=3, Nome='EmÃ­dio Dornelles', Status='Ativo', Cidade='Porto Alegre', Vendas=34, Data='2020-02-05'),
 Row(ID=4, Nome='Felisbela Dornelles', Status='Ativo', Cidade='Porto Alegre', Vendas=36, Data='2020-02-05'),
 Row(ID=5, Nome='GraÃ§a Ornellas', Status='Ativo', Cidade='Porto Alegre', Vendas=12, Data='2020-02-05'),
 Row(ID=6, Nome='Matilde RebouÃ§as', Status='Ativo', Cidade='Porto Alegre', Vendas=22, Data='2019-01-05'),
 Row(ID=7, Nome='NoÃªmia   OrriÃ§a', Status='Ativo', Cidade='Santa Maria', Vendas=45, Data='2019-10-05'),
 Row(ID=8, Nome='Roque VÃ¡squez', Status='Ativo', Cidade='Porto Alegre', Vendas=65, Data='2020-03-05'),
 Row(ID=9, Nome='Uriel Queiroz', Status='Ativo', Cidade='Porto Alegre', Vendas=54, Data='2018-05-05'),
 Row(ID=10, Nome='Viviana Sequeira', Status='Ativo', Cidade='Porto Alegre', Vendas=0, Data='2020-09-05')]

In [57]:
despachantes.count() # retorna o numero de linhas

10

In [58]:
despachantes.show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   EmÃ­dio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     GraÃ§a Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde RebouÃ§as| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    NoÃªmia   OrriÃ§a| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque VÃ¡squez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [59]:
    # ordenar os dados por vendas
        # por padrao vai em ordem crescente
despachantes.orderBy("Vendas").show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
|  5|     GraÃ§a Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde RebouÃ§as| Ativo| Porto Alegre|    22|2019-01-05|
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   EmÃ­dio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  7|    NoÃªmia   OrriÃ§a| Ativo|  Santa Maria|    45|2019-10-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
|  8|      Roque VÃ¡squez| Ativo| Porto Alegre|    65|2020-03-05|
+---+-------------------+------+-------------+------+----------+

In [88]:
    # em ordem descrescente
despachantes.orderBy(Func.col("Vendas").desc()).show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  8|      Roque VÃ¡squez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
|  7|    NoÃªmia   OrriÃ§a| Ativo|  Santa Maria|    45|2019-10-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   EmÃ­dio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  6|   Matilde RebouÃ§as| Ativo| Porto Alegre|    22|2019-01-05|
|  5|     GraÃ§a Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [77]:
    # ordenar por cidade de forma descrescente e pela cidade as vendas do menor para o maior
despachantes.orderBy(Func.col("Cidade").desc(),Func.col("Vendas").desc()).show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  7|    NoÃªmia   OrriÃ§a| Ativo|  Santa Maria|    45|2019-10-05|
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  8|      Roque VÃ¡squez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  3|   EmÃ­dio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  6|   Matilde RebouÃ§as| Ativo| Porto Alegre|    22|2019-01-05|
|  5|     GraÃ§a Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
+---+-------------------+------+-------------+------+----------+

In [79]:
    # Quanto voce vendeu por cidade?
despachantes.groupBy("Cidade").agg(sum("Vendas")).show()
despachantes.printSchema()

+-------------+-----------+
|       Cidade|sum(Vendas)|
+-------------+-----------+
|  Santa Maria|         68|
|Novo Hamburgo|         34|
| Porto Alegre|        223|
+-------------+-----------+

root
 |-- ID: integer (nullable = true)
 |-- Nome: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Cidade: string (nullable = true)
 |-- Vendas: integer (nullable = true)
 |-- Data: string (nullable = true)

In [71]:
    # agora ordenando de forma Descrecente
despachantes.groupBy("Cidade").agg(sum("Vendas")).orderBy(Func.col("sum(Vendas)").desc()).show()

+-------------+-----------+
|       Cidade|sum(Vendas)|
+-------------+-----------+
| Porto Alegre|        223|
|  Santa Maria|         68|
|Novo Hamburgo|         34|
+-------------+-----------+

In [80]:
    # Vendas apenas maior que 40
despachantes.groupBy("Cidade").agg(sum("Vendas")).orderBy(Func.col("sum(Vendas)").desc()).where((Func.col("sum(Vendas)")>54)).show()

+------------+-----------+
|      Cidade|sum(Vendas)|
+------------+-----------+
|Porto Alegre|        223|
| Santa Maria|         68|
+------------+-----------+

In [89]:
    # Filtrar apenas o despachante de nome Deolinda Vilela com filter
despachantes.filter(Func.col("Nome") == "Deolinda Vilela").show()

+---+---------------+------+-------------+------+----------+
| ID|           Nome|Status|       Cidade|Vendas|      Data|
+---+---------------+------+-------------+------+----------+
|  2|Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
+---+---------------+------+-------------+------+----------+

In [81]:
    # Salvar um DF
        # parquet/cvs/JSON/ORC (parquet Ã© o formato padrÃ£o)
            # Sempre vai criar um diretorio
despachantes.write.format("parquet").save("/home/anthony/pyspark/Arquivos adicionais/write/dfimportparquet")

In [82]:
despachantes.write.format("csv").save("/home/anthony/pyspark/Arquivos adicionais/write/dfimportcsv")

In [83]:
despachantes.write.format("json").save("/home/anthony/pyspark/Arquivos adicionais/write/dfimportjson")

In [84]:
despachantes.write.format("orc").save("/home/anthony/pyspark/Arquivos adicionais/write/dfimportorc")

In [88]:
    # importar dados de formatos diversos
        # Primeiro renomeamos os arquivos que salvamos, substituindo o nome padrÃ£o
par = spark.read.format("parquet").load("/home/anthony/pyspark/Arquivos adicionais/write/dfimportparquet/despachantes.parquet")
par.show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   EmÃ­dio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     GraÃ§a Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde RebouÃ§as| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    NoÃªmia   OrriÃ§a| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque VÃ¡squez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [95]:
par.schema

StructType([StructField('ID', IntegerType(), True), StructField('Nome', StringType(), True), StructField('Status', StringType(), True), StructField('Cidade', StringType(), True), StructField('Vendas', IntegerType(), True), StructField('Data', StringType(), True)])

In [94]:
js = spark.read.format("json").load("/home/anthony/pyspark/Arquivos adicionais/write/dfimportjson/despachantes.json")
js.show()

+-------------+----------+---+-------------------+------+------+
|       Cidade|      Data| ID|               Nome|Status|Vendas|
+-------------+----------+---+-------------------+------+------+
|  Santa Maria|2020-08-11|  1|   Carminda Pestana| Ativo|    23|
|Novo Hamburgo|2020-03-05|  2|    Deolinda Vilela| Ativo|    34|
| Porto Alegre|2020-02-05|  3|   EmÃ­dio Dornelles| Ativo|    34|
| Porto Alegre|2020-02-05|  4|Felisbela Dornelles| Ativo|    36|
| Porto Alegre|2020-02-05|  5|     GraÃ§a Ornellas| Ativo|    12|
| Porto Alegre|2019-01-05|  6|   Matilde RebouÃ§as| Ativo|    22|
|  Santa Maria|2019-10-05|  7|    NoÃªmia   OrriÃ§a| Ativo|    45|
| Porto Alegre|2020-03-05|  8|      Roque VÃ¡squez| Ativo|    65|
| Porto Alegre|2018-05-05|  9|      Uriel Queiroz| Ativo|    54|
| Porto Alegre|2020-09-05| 10|   Viviana Sequeira| Ativo|     0|
+-------------+----------+---+-------------------+------+------+

In [96]:
js.schema

StructType([StructField('Cidade', StringType(), True), StructField('Data', StringType(), True), StructField('ID', LongType(), True), StructField('Nome', StringType(), True), StructField('Status', StringType(), True), StructField('Vendas', LongType(), True)])

In [91]:
orc = spark.read.format("orc").load("/home/anthony/pyspark/Arquivos adicionais/write/dfimportorc/despachantes.orc")
orc.show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   EmÃ­dio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     GraÃ§a Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde RebouÃ§as| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    NoÃªmia   OrriÃ§a| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque VÃ¡squez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [96]:
orc.printSchema()
orc = orc.withColumn("Data", to_timestamp(Func.col("Data"),"yyyy-MM-d"))
orc = orc.drop("data2")

root
 |-- ID: integer (nullable = true)
 |-- Nome: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- Cidade: string (nullable = true)
 |-- Vendas: integer (nullable = true)
 |-- Data: timestamp (nullable = true)
 |-- data2: timestamp (nullable = true)

In [93]:
csv = spark.read.format("csv").load("/home/anthony/pyspark/Arquivos adicionais/write/dfimportcsv/despachantes.csv")
csv.show()

+---+-------------------+-----+-------------+---+----------+
|_c0|                _c1|  _c2|          _c3|_c4|       _c5|
+---+-------------------+-----+-------------+---+----------+
|  1|   Carminda Pestana|Ativo|  Santa Maria| 23|2020-08-11|
|  2|    Deolinda Vilela|Ativo|Novo Hamburgo| 34|2020-03-05|
|  3|   EmÃ­dio Dornelles|Ativo| Porto Alegre| 34|2020-02-05|
|  4|Felisbela Dornelles|Ativo| Porto Alegre| 36|2020-02-05|
|  5|     GraÃ§a Ornellas|Ativo| Porto Alegre| 12|2020-02-05|
|  6|   Matilde RebouÃ§as|Ativo| Porto Alegre| 22|2019-01-05|
|  7|    NoÃªmia   OrriÃ§a|Ativo|  Santa Maria| 45|2019-10-05|
|  8|      Roque VÃ¡squez|Ativo| Porto Alegre| 65|2020-03-05|
|  9|      Uriel Queiroz|Ativo| Porto Alegre| 54|2018-05-05|
| 10|   Viviana Sequeira|Ativo| Porto Alegre|  0|2020-09-05|
+---+-------------------+-----+-------------+---+----------+

In [99]:
csv.schema

StructType([StructField('_c0', StringType(), True), StructField('_c1', StringType(), True), StructField('_c2', StringType(), True), StructField('_c3', StringType(), True), StructField('_c4', StringType(), True), StructField('_c5', StringType(), True)])

In [100]:
    # Definindo o schema
arqschema

'ID INT, Nome STRING, Status STRING, Cidade STRING, Vendas INT, Data STRING'

In [101]:
csv2 = spark.read.format("csv").load("/home/anthony/pyspark/Arquivos adicionais/write/dfimportcsv/despachantes.csv", schema=arqschema)
csv2.show()

+---+-------------------+------+-------------+------+----------+
| ID|               Nome|Status|       Cidade|Vendas|      Data|
+---+-------------------+------+-------------+------+----------+
|  1|   Carminda Pestana| Ativo|  Santa Maria|    23|2020-08-11|
|  2|    Deolinda Vilela| Ativo|Novo Hamburgo|    34|2020-03-05|
|  3|   EmÃ­dio Dornelles| Ativo| Porto Alegre|    34|2020-02-05|
|  4|Felisbela Dornelles| Ativo| Porto Alegre|    36|2020-02-05|
|  5|     GraÃ§a Ornellas| Ativo| Porto Alegre|    12|2020-02-05|
|  6|   Matilde RebouÃ§as| Ativo| Porto Alegre|    22|2019-01-05|
|  7|    NoÃªmia   OrriÃ§a| Ativo|  Santa Maria|    45|2019-10-05|
|  8|      Roque VÃ¡squez| Ativo| Porto Alegre|    65|2020-03-05|
|  9|      Uriel Queiroz| Ativo| Porto Alegre|    54|2018-05-05|
| 10|   Viviana Sequeira| Ativo| Porto Alegre|     0|2020-09-05|
+---+-------------------+------+-------------+------+----------+

In [102]:
csv2.schema

StructType([StructField('ID', IntegerType(), True), StructField('Nome', StringType(), True), StructField('Status', StringType(), True), StructField('Cidade', StringType(), True), StructField('Vendas', IntegerType(), True), StructField('Data', StringType(), True)])